@import './variable';
.img{
    background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/MSFT-A-woman-sits-smiling-at-her-Surface-Laptop-5-in-sandstone-desktop?scl=1);
    background-size: cover;
    width: 100%;
    height: 800px;
}
.ilkyazi{
    font-size: 90px;
}
.first>img{
    background-size: cover;
    height: 60px;
    width: 60px;
}
.main3{
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-areas:
    'birinci birinci ikinci ucuncu'
    'birinci birinci dorduncu besinci'
    ;
    column-gap: 20px;
    row-gap: 10px;
    padding: 20px;
}
.birinci{
    background-image: url(birinci.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    grid-area: birinci;
    border-radius:20px;
}
.sekil{
    background-size:contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.ikinci{
    background-image:url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/MSFT-View-Surface-Pro-9-Sapphire-Surface-Type-Cover-attached?fmt=png-alpha&wid=430&hei=350&fit=crop);
    grid-area: ikinci;
}
.ucuncu{
    background-image:url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/MSFT-Surface-Pro-8-shown-three-quarter-kickstand-extended-type-cover?fmt=png-alpha&wid=325&hei=240&fit=crop);
    grid-area: ucuncu;
}
.dorduncu{
    background-image: url(	https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/MSFT-Surface-Pro-7-plues-three-quarter-view-kickstand-extended-type-cover?fmt=png-alpha&wid=325&hei=240&fit=crop);
    grid-area: dorduncu;
}
.besinci{
    background-image: url(	https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/MSFT-Surface-Go-3--three-quarter-kickstand-extended-type-cover?fmt=png-alpha&wid=325&hei=240&fit=crop);
    grid-area: besinci;
}
.main4{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
    ' ikinci ucuncu birinci birinci'
    'dorduncu besinci birinci birinci '
    ;
    column-gap: 20px;
    row-gap: 10px;
    padding: 20px;
}
.birinci1{
    background-image: url(birinci.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    grid-area: birinci;
    border-radius:20px;
}
.sekil1{
    background-size:contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.ikinci1{
    background-image:url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/MSFT-View-Surface-Pro-9-Sapphire-Surface-Type-Cover-attached?fmt=png-alpha&wid=430&hei=350&fit=crop);
    grid-area: ikinci;
}
.ucuncu1{
    background-image:url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/MSFT-Surface-Pro-8-shown-three-quarter-kickstand-extended-type-cover?fmt=png-alpha&wid=325&hei=240&fit=crop);
    grid-area: ucuncu;
}
.dorduncu1{
    background-image: url(	https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/MSFT-Surface-Pro-7-plues-three-quarter-view-kickstand-extended-type-cover?fmt=png-alpha&wid=325&hei=240&fit=crop);
    grid-area: dorduncu;
}
.besinci1{
    background-image: url(	https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/MSFT-Surface-Go-3--three-quarter-kickstand-extended-type-cover?fmt=png-alpha&wid=325&hei=240&fit=crop);
    grid-area: besinci;
}
@import './footer';
@media (max-width:900px) {
    .img{
        background-image:url( https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/MSFT-A-woman-sits-smiling-at-her-Surface-Laptop-5-in-sandstone-mobile?scl=1
    );
    }
    .ilkyazi{
        font-size: 40px;
        align-items: start;
    }
    .main4{
        grid-template-areas: 
        'birnci birinci birinci birinci'
        'ikinci ikinci ikinci ikinci'
        'ucuncu ucuncu ucuncu ucuncu'
        'dorduncu dorduncu dorduncu dorduncu'
        'besinci besinci besinci besinci'
        ;
        display: flex;
        flex-wrap: wrap;
        padding: 0 20px;
    }
    .birinci1{
        height: 350px;
    }
    .ikinci1{
        height: 350px;
    }
    .ucuncu1{
        height: 350px;
    }
    .dorduncu1{
        height: 350px;
    }
    .besinci1{
        height: 350px;
    }
   .main3{
    display: none;
   }
   .gridh1{
    display: none;
   }
   .laptoph1{
     text-align: center;
     margin-bottom: 20px;   
   }
    }
     